<!doctype html>
<html ng-app="app">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
    <script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>
    <script src="directives.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="Audiolist as Audio">
    <div id="vk_api_transport"></div>
    <div id="login_button" onclick="VK.Auth.login(authInfo);"></div>
    <script language="javascript">
        VK.init({
          apiId: 4380625
        });
    </script>
    <div class="block">
        <div class="content audiolist">
            
            <div class="group" ng-repeat="artist in Audio.artists">
                <div class="title" data-name="{{artist.name}}" toggle-class="active">{{artist.title}}</div>
                <nav class="">
                    <a ng-repeat="song in artist.songs" class="list-item">
                        <strong class="band">{{Audio.artists[song.artist].title}}</strong>
                        <span class="song">{{song.title}}</span>
                    </a>
                </nav>
            </div>
            
        </div>
    </div>
    <div class="block">
        <div class="content">
            
        </div>
    </div>
</body>
</html>
